#login {
  background-color: #555;
  width: 30%;
  margin: auto;
  padding: 20px 20px 30px 20px;
  opacity: 0.9;
}
#login-title {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 60px;
  color: #f1f1f1;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 50;
}
.col-md-4 {
  display: block;
  margin-left: 80px;
}
.login-form-control {
  margin-bottom: 40px;
  margin-right: 30px;
  text-align: center;
}

.buttonWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.buttonWrapper button {
  margin: 5px;
}

.login-submit {
  display: flex;
  /* margin: 0 auto;
  margin-bottom: 10px;
  margin-top: 10px; */
  color: white !important;
  align-items: center;
  padding-bottom: 10px;
  margin-left: 30px;
}
button a {
  color: white !important;
  text-decoration: none;
}
.bg-img {
  background: url("https://images.unsplash.com/photo-1562762394-3acfba62a48e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
}
