@import "./Partials/Contact.css";
@import "./Partials/Donate.css";
@import "./Partials/Footer.css";
@import "./Partials/Home.css";
@import "./Partials/Nav.css";
@import "./Partials/Login.css";
@import "./Partials/Workshops.css";



html{
    background-color: white;
    background-size: cover;
}

body{
    margin: 0;
}